.btn-talk {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    background: #4caae8;
    padding: 5px;
    text-decoration: none;
    width: 18%;
    border: 0px;
    margin: 5px;
}

#talkButton{
  margin: 0px
}

#talkyButton{
  margin: 0px
}

#talkieButton{
  margin: 0px
}

.btn-talk:hover {
    background: #4fbcff;
    text-decoration: none;
}

#jack{
  font-size: 30px;
  margin:-5px;
}

#fourth{
  font-size: 30px;
  margin: -5px;
}

#footer {
background-color:#DADADA;
height:230px;
padding:10px;
border-top:1px solid #ABABAB;
position:fixed;
left:0;
bottom:-100;
width:100%
}

#spokeo {
  font-size: 30px
}

.button {
  margin: 10px 10px;
}
