#footer {
background-color:#DADADA;
height:50px;
padding:10px;
border-top:1px solid #ABABAB;
position:fixed;
left:0;
bottom:0;
width:100%
}

#tucanvas {
  margin-bottom: -15em;
  margin-top: -78em;
  margin-left: 156.2em;
}

#tucansamvas{
  margin-bottom: -70em;
  margin-top: -10em;
  margin-left: 156.2em;
}

#canvos{
  margin-top: -40em;
}
