#footer {
background-color:#DADADA;
height:200px;
padding:10px;
border-top:1px solid #ABABAB;
position:fixed;
left:0;
bottom:-100;
width:100%
}

#speech{
  font-size: 50px;
}


#canvas{
  margin-bottom: -40em;
}

#tucanvas {
  margin-bottom: 0em;
  margin-top: 0em;
  margin-left: 58em;
}

#tucansamvas{
  margin-bottom: -70em;
  margin-top: 0em;
  margin-left: 58em;
}

#canvos{
  margin-top: -40em;
}
