#footer {
background-color:#DADADA;
height:50px;
padding:10px;
border-top:1px solid #ABABAB;
position:fixed;
left:0;
bottom:0;
width:100%
}

#tucanvas {
  margin-bottom: -30em;
  margin-left: 58.2em;
}

#tucansamvas{
  margin-bottom: -100em;
  margin-left: 58.2em;
}
